.App {
  background-color: rgb(168, 168, 168);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 1em;
}

#navBar{
  display:flex;
  justify-content: space-around;
  margin: 20px;
}

#mainContainer{
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
}

#contactInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 420px;
  align-items: center;
  background-color: cornsilk;
}

#introBox{
  border: 1px solid black;
  width: 400px;
  height: 135px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: cornsilk;
}

#profilePic{
  width: 420px;
}

body{
  background: linear-gradient(cornflowerblue, black); 
}

.projectDescription{
  color: azure;
}

.projectTitle{
  color: azure;
}

.link{
  color: azure
}

.largeview{
  width: 95vw;
  height: 95vh;
}

iframe{
  height: 200px;
  width: 320px;
  transition: all 0.5s;
}
